#root {
  width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root.container {
  width: 100%;
}

/* NavBar CSS */
.search-btn {
  vertical-align: middle;
}

/* PostsList CSS */

pre {
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: o-pre-wrap;
  word-wrap: break-word;
}

.post {
  margin: 1em;
  padding: 2em;
  border: 1px solid lightblue;
  border-radius: 5px;
  text-decoration: none;
  color: #213547;
}

.fill-div > * {
  text-decoration: none;
}

/* PostDetails CSS */
.post-details {
  width: 100%;
}

.post-comment {
  display: flex;
  align-items: center;
}

.hr {
  flex: 1;
  background: lightblue;
  height: 3px;
}

.hr-text {
  margin: 0 10px;
}

.comment > button {
  position: absolute;
  left: 75%;
  bottom: 17%;
  color: red;
}


.comment-user {
  padding-left: 2em;
  text-align: left;
  margin-bottom: 0;
}

.comment-body {
  padding-left: 2em;
  text-align: left;
  margin-top: 0;
}

.post-comment-container > form > button {
  margin: 0 1em; 
}

/* UserDetails CSS */
#delete-btn {
  color: white;
  background-color: red;
  padding: 0.5em;
}